aps-spring-api/src/main/resources/META-INF/aps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://blog.csdn.net/cutesource/schema/people"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://schema.corp.anjuke.com/ajf/aps"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
        schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.2.xsd" />
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        The unique identifier for a bean.
                ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="class" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="java:java.lang.Class">
                        <![CDATA[Aps服务的interface]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>